* {
  font-family: monospace;
  text-align: center;
  scroll-behavior: smooth;
}


html {
  scroll-behavior: smooth;
  margin: auto;
  width: 1080px;
}

body { 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #deb887;
}

body { 
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

header {
	grid-area: header;
}

section {
	grid-area: section;
  text-align:center;
}

footer {
	grid-area: footer;
  text-align: center;
}

header, section, footer {
	padding: 10px;
}

html {box-sizing: border-box;}
*,  *:after {box-sizing: inherit;}

.image-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.small-image-box {
  padding: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid black;

}

.moreinfo{
  padding-bottom: 30px;
}

.topper{
  padding: 10px;
}

.textbox{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 70px;
}

.yt{
  padding-bottom: 50px;
}

.logo{
  size: 40px;
}

.zoom {
  transition: transform .2s;
  margin: auto;
}

.zoom:hover {
  transform: scale(2); 
}
