* {
  font-family: monospace;
  background-color: burlywood;
  text-align: center;
  color: black;
}

.logo{
  padding-top: 250px;
}

.links{
  padding-bottom: 100px;
  color: black;
}

footer {
  position: relative;
  padding-top: 50px;
  text-align: center;
  bottom: 0;
}
